body{
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}
.page{
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: transform 1s ease, opacity 1s ease;  
    overflow: hidden;  
}

.start{
    background-image: url('images/loginn.jpg');
    z-index:1;
}

.start.hidden{
    animation: slide-out 1s forwards;
    opacity:0;
    pointer-events: none;
}
.start.return{
    animation: flip-page 1s forwards;
    opacity:1;
}

.login{
    background-image: url('images/sherlock.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.login.hidden{
    opacity:0;
    pointer-events: none;
}

.loginBox{
    width: 150px;
    height: 50px;
    left: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 2px;
    opacity: 1;
    font-family: 'Black', sans-serif;
    text-align: center;
    background-color: rgb(188, 188, 188,0.5);
    box-shadow: 0 0 20px #000;
}
.loginBox:hover{
    background-color: rgba(9, 76, 105, 0.5);
    transition: 0.5s;
}

.loginBox button{
    font-family: 'Font', sans-serif;
    color: rgb(255, 255, 255);
    background: transparent;
    text-align: center;
    z-index: 1000;
    border-width: 0px;
}

.loginContainer{
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%); 
    position: absolute;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(167, 167, 167, 0.5);
    box-shadow: 0 0 60px #000;
    border-radius: 15px;
    border-width: 2px;
    opacity: 0;
    pointer-events: none;
}

.loginContainer.clicked{
    opacity: 1;
    pointer-events: all;
}

.pass_sign{
    position: relative;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pass{
    font-size: 16px;
    color: #FFF;
    font-family: 'Black', sans-serif;
    text-decoration: none;
}
.pass:hover{
    text-decoration: underline;
}

.signup {
    position: relative;
    font-size: 12px;
    color: #FFF;
    font-family: 'Electrical', sans-serif;
    text-decoration: none;
}
.signup:hover{
    text-decoration: underline;
}

input{
    height: 30px;
    width: 250px;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: 'Black', sans-serif;
    font-size: 16px;
    color: white;
}

/* VIDEO */
.videoContainer
{
    width: 352px;
    height: 198px;
    display: flex;  
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border-width: 30px;
    box-shadow: 0 15px 15px 5px #000;
    opacity:0;
    animation: vibrate 1.5s infinite;
    animation-play-state: running;
    overflow: hidden;
}

.videoContainer.clicked
{
    opacity:1;
}

.videoContainer.paused
{
    animation-play-state: paused;
}

.btn{
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 70px;
    height: 30px;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    opacity:0;
    cursor: pointer;
}

.btn.clicked{
    opacity:1;
}

/* CONTAINERS */
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    position: fixed;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3{
    transform: translate(-50%, -50%); 
    position: relative;
    height: 200px;
    z-index: -1;
}

.container3.ver1{
    width: 400px;
    top: 70%;
    left: 50%;
}
.container3.ver2{
    top: 70%;
    left: 50%;
}
.container3.ver3{
    width: 300px;
    top:25%;
    left: 60%;
    justify-content: space-between;
}

.containerInput{
    bottom:10%;
    position: relative;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.containerMain{
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* MAGNIFYING GLASS */
.circle {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-style: solid double;
    border-width: 10px;
    border-color: rgb(147, 147, 147);
    border-radius: 50%;            
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5), inset  5px 5px 7px rgba(148, 148, 148, 0.5);
    background-color: rgb(0, 0, 0);
    z-index: 12;
}

.circle:hover{
    width: 400px;
    height: 400px;
    transition: 0.5s;
}

.inside{
    position: absolute;
    inset: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(199, 64, 64, 0.5), rgba(244, 107, 21, 0.5));
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5);
    cursor: pointer;
}

.inside:hover::after{
    font-family: "Electrical", sans-serif;
    font-size: 30px;
    transition: 0.5s;
    color: white;
    content: 'SHER';
}

.rectangle{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 12px;
    background: rgb(147, 147, 147);
    border-radius: 6px;
    transform-origin: left;
    transform: translate(45%, 55%) rotate(45deg);
    box-shadow: 2px 2px 2px rgb(0, 0, 0), inset 0 0 5px rgba(0,0,0,0.5);
    z-index: 11;
}

/* CLOCK */
.clockContainer{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    pointer-events: none; 
}

.clockContainer.clicked{
    opacity:1;
    pointer-events: auto;
}

#clockBackground{
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-image: url('images/clock.png');
    background-size: cover;
    background-color: #000 ;
    border-radius: 50%;
    border: 5px ridge black;
    
}

.line{
    content:'';
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    height: 4px;
    background-color: #262626;
    border-radius: 2px;
    transform-origin: left;
}

.line.line1 {
    width: 40px;
    animation: spin 4s linear infinite;
}
.line1.reversed{
    animation-direction: reverse;
}

.line.line2 {
    width: 30px;
    animation: spin 48s linear infinite;
}
.line2.reversed{
    animation-direction: reverse;
}

.center{
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: black;
    border-radius: 50%;
} 

.hat {
    position: fixed;
    top: 87%;
    left: 90%;
    transform: translate(-50%, 0%);
    width: 100px;
    height: 100px;
    opacity:1;
    --color: rgb(50, 30, 17);
    --shadow: black;
}

.hat.hidden{
    opacity:0;
}

.hat_bottom{
    position: absolute;
    width: 100%;
    height: 15%;
    background: var(--color);
    left: 0%;
    top: 10%;
    z-index: 1;
    border-radius: 15px 15px 0px 0px ;
    box-shadow: 2px 2px 2px var(--shadow), inset 0 0 5px var(--shadow);
}
  
.hat_top{
    position: absolute;
    width: 55%;
    height: 40%;
    background: var(--color);
    left: 22%;
    top: -20%;
    border-radius: 100% 100% 0% 0% ;
    box-shadow: 2px 2px 2px var(--shadow), inset 2px 2px 5px var(--shadow);
}
  
.hat_ball{
    position: absolute;
    width: 8%;
    height: 8%;
    background: var(--color);
    left: 45%;
    top: -26%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px var(--shadow), inset 2px 2px 5px var(--shadow);
}

.hat_strip{
    position: absolute;
    background: black;
    width: 56%;
    height: 10%;
    left: 22%;
    top: 8%;
    z-index: 2;
}
  
/* HINT BOX */
.hint{
    content: '';
    position: absolute;
    top: 83%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: "Electrical", sans-serif;
    font-size: 25px;
    opacity:0;
} 
.hint.clicked{
    opacity:1;
    animation: slide-left 1s forwards;
}

#time{
    width: 100px;
    height: 20px;
    font-family: "Black", sans-serif;
    font-size: 25px;
    color: white;
    position: fixed;
    top:7%;
    right: 10%;
    z-index: 1000;
    text-align: center;
}

/* FONTS */
@font-face {
    font-family: 'Font';
    src: url('fonts/Leche_Frita.ttf');

}
@font-face {
    font-family: 'Black';
    font-weight: 600;
    src: url('fonts/blackjack-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Electrical';
    src: url('fonts/electrical.ttf');
}

.font-effect-fire 
{
    text-shadow: 0 -0.05em 0.05em #FFF, 0.01em -0.02em 0.10em #FE0, 0.01em -0.07em 0.10em #FC0, 0.02em -0.15em 0.15em #F90, 0.04em -0.20em 0.2em #F70, 0.05em -0.25em 0.3em #F70, 0.06em -0.2em 0.5em #F50, 0.1em -0.1em 0.6em #F40;
    color: #ffe;
}

.text
{
    font-family: 'Font', sans-serif;
    position: relative;
    font-size: 70px;
    animation: textAnimation 1s; 
    display: flex;
}
.text.question{
    z-index: 2;
    left:44%;
    bottom: 10%;
    font-size:20px;
    color: white;
    cursor: pointer;
}

.texth{
    z-index: 3;
    font-family: 'Electrical', sans-serif;
    position: fixed;
    font-size: 20px;
    color: white;
    cursor: pointer;
    right:8%;
    bottom:90%;
    opacity:0;
}
.texth.clicked{
    opacity:1;
}

.text2
{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
    font-family: 'Font', sans-serif;
    position: absolute;
    font-size: 80px;
    display: flex;
    opacity: 0;
}
.text2.clicked{
    animation: textAnimation2 3s ease; 
    opacity: 1;
}

.text3{
    font-family: 'Black', sans-serif;
    position: relative;
    font-size: 30px;
    display: flex;   
    color: white;
}

/* ANIMATIONS */
@keyframes vibrate {
    0% 
    {
        transform: translate(0);
    }
    20% 
    {
        transform: translate(-2px, 2px);
    }
    40% 
    {
        transform: translate(-2px, -2px);
    }
    60% 
    {
        transform: translate(2px, 2px);
    }
    80% 
    {
        transform: translate(2px, -2px);
    }
    100% 
    {
        transform: translate(0);
    }
}

@keyframes flip-page {
    0% 
    {
        transform: scale(2);
        opacity:0;
    }
    100% 
    {
        transform: translateZ(1);
        opacity:1;
    }
  }
  
@keyframes slide-out {
    0% {
        transform: translateZ(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes slide-left {
    0% 
    {
        transform: translateX(500px);
        opacity: 0;
    }
    100% 
    {
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes textAnimation2 {
    0% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20.0% {
      opacity: 1;
    }
    20.3% {
      opacity: 0;
    }
    30.0% {
      opacity: 1;
    }
    30.5% {
      opacity: 0;
    }
    45.0% {
      opacity: 1;
    }
    55.0% {
      opacity: 0;
    }
    58.0% {
      opacity: 1;
    }
    75.0% {
      opacity: 0;
    }
    85.0% {
      opacity: 1;
    }
}

@keyframes textAnimation
{
    0%
    {
        letter-spacing:-0.5em;
        opacity:0
    }
    40%
    {
        opacity:0.5
    }
    100%
    {
        opacity:1
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}